#root {
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.topBar {
    margin-top: 2vh;
}

.bottomBar {
    margin-bottom: 2vh;
}

.exercisePage {
    scroll-snap-align: start;
    height: 100vh;
    margin-right: 8vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer {
    text-align: center;
    font-size: 2vh;
}

.nextSetReminder{
    text-align: center;
    font-size: 2vh;
    min-height: 2vh;
    max-height: 2vh;
}

.mainContent {
    margin-bottom: 20vh;
}

.set {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.setDescriptor {
    margin-right: 4vw;
}

.checkbox {
    margin-right: 6vw;
}

.notes {
    margin-top: 5vh;
}

.previousExerciseName {
    font-size: 3vw;
    text-align: center;
}

.exerciseName {
    text-align: center;
    font-size: 5vw;
}

.nextExerciseName {
    font-size: 3vw;
    text-align: center;
}
